.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 22vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.abt-top {
    font-size: 1.4rem;
    position: relative;
    height: 40px;
}

.abt-top::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 3px solid black;
}

.abt-bot {
    font-size: 1.1rem;
    width: 80%;
    font-weight: lighter;
    word-spacing: 7px;
}